<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blockchain Frontend</title>

    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/DataTables/css/datatables.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
<style>

div {
  font-family: Century;
}</style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #483D8B;">
        <div class="container">
            <a href="#" class="navbar-brand">Blockchain Node Side</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/configure" class="nav-link">Configure</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Add nodes -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="card-body">
            <h4 class="card-title">Add Blockchain nodes</h4>
            <p class="card-text">Enter a list of Blockchain node URLs separated by comma and click on "Add" button to add them to the list of nodes</p>
              <i><p> <b>exemple</b> : 127.0.0.1:5002, 127.0.0.1:5003</p></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container alert alert-secondary">
      <form id="node_form">
        <div class="row">
          <label class="col-sm-2">Node URLs:</label>
          <div class="col-sm-10">
            <input type="text" name="nodes" id="nodes" rows="2" class="form-control">
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg-12 text-center">
            <input type="button" id="add_node_button" class="btn btn-primary btn-lg" value="Add Node">
          </div>
        </div>
      </form>
    </div>

    <hr>

    <!-- List of nodes -->
    <div class="container">
      <div class="row">

        <div class="col-lg-12">
          <div class="card-body">
            <h4 class="card-title">This node can retrieve Blockchain data from the following nodes:</h4>
          </div>
        </div>

        <div class="col-lg-12" id="list_nodes">

        </div>

      </div>
    </div>

    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/DataTables/js/datatables.min.js"></script>
    <script src="/static/vendor/DataTables/js/ellipsis.js"></script>

    <script>
        $(function() {
            $('#add_node_button').click(function() {
                $.ajax({
                    url: '/nodes/register',
                    type: 'POST',
                    dataType: 'json',
                    data: $('#node_form').serialize(),
                    success: function(response) {
                        document.getElementById('nodes').value = '';
                        window.location.reload();
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

            $.ajax({
                url: '/nodes/get',
                type: 'GET',
                success: function(response) {
                    let nodes = '';
                    for (i=0; i<response['nodes'].length; i++) {
                        node = "<li><a href=http://" + response['nodes'][i] + ">" + response['nodes'][i] + "</a></li>"
                        document.getElementById('list_nodes').innerHTML += node;
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });

        });

    </script>

</body>
</html>